.landpage-container {
    height: 100%;
    background-color: #023F4B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landpage-logo {
    height: 700px;
    width: 700px;
}