h1 {
  margin-top: 2em;
  text-align: center;
}

.num-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  min-height: 90vh;
}

.num-title {
  color: #B8CB53;
  text-align: left;
}

.search-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.search-container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.num-search-field {
  width: 100%;
  height: 65px;
}

.num-search-field input[type="number"] {
  width: 100%;
  height: 100%;
  padding: 0px 80px;
  border-radius: 50px;
  border-color: #023F4B;
  border-width: 3px;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
  color: #282828;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  margin-bottom: 10px;
  -moz-appearance: textfield;
}

.num-search-field input[type="submit"] {
  display: none;
}

.num-search-field p {
  color: #888;
  margin-right: 20px;
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tree-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree-container p {
  text-align: center;
  color: #888;
  font-size: 1.3rem;
}

.tree-container .tree-result-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tree-result-container {
  position: relative;
  min-height: 250px;
  min-width: 250px;
  margin: 2rem;
}


@media only screen and (max-width: 600px) {
  .search-container {
    padding: 2rem 0;
  }

  .num-search-field input[type="number"] {
    text-align: center;
    padding: 0px 20px;
  }

  .num-search-field p {
    margin-right: 0;
    text-align: center;
  }
} 

