.tree-result-container {
  position: relative;
  min-height: 250px;
  min-width: 250px;
  margin: 2rem;
}

.tree-result-container .tree-result {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EEA649;
  transition: 0.5s;
}

.tree-result-container .tree-result:hover {
  cursor: pointer;
  top: -5px;
  background-color: #023F4B !important;
}

.tree-result-container .tree-result img {
  height: 120px;
  width: 120px;
  border-radius: 20%;
  margin-bottom: 1rem;
}

.tree-result-container .tree-result p {
  text-transform: uppercase;
  color: white;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
