.spetile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin: 1.5rem;

    background-color: #00697C;
    
    border-collapse: collapse;
    border-radius: 20%;
    transition: 0.5s;
}

.spetile-container:hover {
    cursor: pointer;
    top: -5px;
    background-color: #023F4B !important;
}
  
.spetile-container img {
    height: 120px;
    width: 120px;
    border-radius: 20%;
    margin-bottom: 1rem;
}

.spetile-container .spetile-link {
    color: white;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

.spetile-container .spetile-link:hover {
    color: lightgray;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}