nav {
    font-family: 'Quicksand', sans-serif;
}

.navbar-aiteso {
    background-color: #B8CB53;
}

.navitem-logo {
    padding-left: 2em;
    height: 50px;
}

.navitem-title {
    padding-left: 0.75em;
    font-weight: bold;
}

.navbar-nav{
    padding-right: 2em;
    padding-left: 2.5em;
}

.nav-text {
    color: white !important;
}

.nav-text:hover{
    color: #023F4B  !important;
}

.navbar-toggler{
    background-color: lightgray;
}

.nav-item {
    padding-right: 1em;
}

@media (min-width: 768px) {
    .nav-item-login {
        border-left: 2px solid white;
        padding-left: 1em; 
    }
}